<div id="ddlContainer">
    <div class="col-xs-10">
        <div class="tab-content">
            <div id="product" class="tab-pane" [ngClass]="{'active': topService.currentTabMode === 'product'}">
                <table class="table table-bordered">
                    <tr>
                        <th>Type</th>
                        <th>Subtype</th>
                        <th>Shape</th>
                        <th>Manufacturer</th>
                        <th>Model</th>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <select class="form-control" [(ngModel)]="topService.selectors.type" (change)="topService.updatePattern('type');">
                                    <option value=""></option>
                                    <option *ngFor="let type of topService.ddls.type" value="{{ type }}">{{ type }}</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div>
                                <select class="form-control" [(ngModel)]="topService.selectors.subType" (change)="topService.updatePattern('subType');">
                                    <option value=""></option>
                                    <option *ngFor="let subType of topService.ddls.subType" value="{{ subType }}">{{ subType }}</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div>
                                <select class="form-control" [(ngModel)]="topService.selectors.shape" (change)="topService.updatePattern('shape');">
                                    <option value=""></option>
                                    <option *ngFor="let shape of topService.ddls.shape" value="{{ shape }}">{{ shape }}</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div>
                                <select class="form-control" [(ngModel)]="topService.selectors.manufacture" (change)="topService.updatePattern('manufacture');">
                                    <option value=""></option>
                                    <option *ngFor="let manufacturer of topService.ddls.manufacture" value="{{ manufacturer }}">{{ manufacturer }}</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div>
                                <select class="form-control" [(ngModel)]="topService.selectors.model" (change)="topService.updatePattern('model');">
                                    <option value=""></option>
                                    <option *ngFor="let model of topService.ddls.model" value="{{ model }}">{{ model }}</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="geometry" class="tab-pane active" [ngClass]="{'active': topService.currentTabMode === 'geometry'}">
                <table class="table table-bordered">
                    <tr>
                        <th>Type</th>
                        <th>Subtype</th>
                        <th>Shape</th>
                        <th>Manufacturer</th>
                        <th>Model</th>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <select class="form-control">
                                    <option value="">Lorem</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div>
                                <select class="form-control">
                                    <option value="">Lorem ipsum</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div>
                                <select class="form-control">
                                    <option value="">Lorem ipsum</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div>
                                <select class="form-control">
                                    <option value="">Lorem ipsum</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div>
                                <select class="form-control">
                                    <option value="">Lorem ipsum</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xs-2">
        <ul class="nav nav-tabs tabs-right" id="panelTabs">
            <li data-target="#product" data-toggle="tab" (click)="topService.changeTabMode('product')" [ngClass]="{'active': topService.currentTabMode === 'product'}"><a>Product</a></li>
            <li data-target="#geometry" data-toggle="tab" (click)="topService.changeTabMode('geometry')" [ngClass]="{'active': topService.currentTabMode === 'geometry'}"><a>Geometry</a></li>
        </ul>
    </div>
</div>