<div class=productEditorWrapper>
    <button class="btn saveButton"
            [disabled]="!topService.selectedProductAssociation.change"
            [ngClass]="{'btn-success': topService.selectedProductAssociation.change}"
            (click)="updateProductAssociation();">Save
    </button>

    <ul class="nav nav-tabs">
        <li (click)="currentTab = 'geometryAssociation'" [ngClass]="{'active': currentTab === 'geometryAssociation' }">
            <a>Geometry Association</a>
        </li>
        <li (click)="currentTab = 'windFaces'" [ngClass]=" {'active': currentTab === 'windFaces'}">
            <a>Wind Faces</a>
        </li>
        <li (click)="currentTab = 'documents'" [ngClass]="{'active': currentTab === 'documents' }">
            <a>Documents</a>
        </li>
        <li (click)="currentTab = 'photos'" [ngClass]="{'active': currentTab === 'photos'}">
            <a>Photos</a>
        </li>
    </ul>
    <div class="tab-content" *ngIf="topService.selectedProductAssociation">
        <div class="geometryAssociationWrapper tab-pane" [ngClass]="{'active': currentTab === 'geometryAssociation'}">
            <app-geometry-association></app-geometry-association>
        </div>

        <div class="windFaces tab-pane" [ngClass]="{'active': currentTab === 'windFaces'}">
            <app-wind-faces></app-wind-faces>
        </div>

        <div class="windFaces tab-pane" [ngClass]="{'active': currentTab === 'documents'}">
            <app-documents></app-documents>
        </div>

        <div class="windFaces tab-pane" [ngClass]="{'active': currentTab === 'photos'}">
            <app-photos></app-photos>
        </div>


    </div>
</div>
