<div *ngIf="topService.currentTabMode === 'product'">
    <app-product-editor></app-product-editor>
</div>
<div *ngIf="topService.currentTabMode === 'geometry'">
    <app-geometry-editor></app-geometry-editor>
</div>
