@nice-blue: #5B83AD;

#userData {
  align-self: flex-end;
  background-color: #ffffff;
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  #username {
    font-weight: 900;
    width: auto;
    margin: 5px 0;
  }

  a {
    color: @nice-blue;
    text-decoration: none;
    padding: 5px;
  }
}

#profileContainer {
  width: 560px;
  background-color: #dddddd;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 20px;

  .styled {
    display: flex;
  }

  h3 {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  input.form-control {
    width: 380px;
  }
}