<div id="userData">
    <p id="username" (click)="openProfile()">{{ userData.email }}</p>
    <a href="/logout">Logout</a>
</div>

<div id="profileContainer" *ngIf="showProfile">
    <h3>Your Profile:</h3>
    <form [formGroup]="userDataFormGroup" (submit)="updateUserData()">
        <div class="form-group">
            <div class="form-group styled">
                <label class="col-xs-2" for="first_name">Name</label>
                <input formControlName="first_name" name="first_name" type="text" class="form-control"
                       style="width: 190px" id="first_name" placeholder="First name">
                <input formControlName="last_name" type="text" class="form-control" style="width: 190px" id="last_name"
                       placeholder="Last name">
            </div>
            <div class="form-group styled">
                <label class="col-xs-2" for="email">Email</label>
                <input formControlName="email" type="email" class="form-control" id="email"
                       placeholder="Enter your email">
            </div>
            <div class="form-group styled">
                <label class="col-xs-2" for="phone">Phone</label>
                <input formControlName="phone" type="text" class="form-control" id="phone"
                       placeholder="Enter your phone">
            </div>
            <div class="form-group styled">
                <label class="col-xs-2" for="company">Company</label>
                <input formControlName="company" type="text" class="form-control" id="company"
                       placeholder="Enter your company">
            </div>
            <div class="form-group styled">
                <label class="col-xs-2" for="title">Title</label>
                <input formControlName="title" type="text" class="form-control" id="title"
                       placeholder="Enter your title">
            </div>
            <button type="submit" class="btn btn-success">Update your profile</button>
        </div>
    </form>
</div>