<div id="windFaces">
  <div class="container-fluid">
    <div class="wind_areas" style="display: inline-block;">
      <div style="margin: 5px; float: left;">Ice thickness:</div>
      <input type="text" style="width: 50px; margin-top: 5px; float: left;" class="itemInfoInput form-control"
             ng-model="models.product.ice_thk" ng-change="models.product.changed = true">
      <div style="width: 30px; margin: 5px 0 0 5px; float: left;">nf</div>
      <button type="button" class="btn btn-info btnCalc" ng-click="models.product.calc_wind_faces()">Initialize</button>
    </div>

    <table class="table table-bordered" style="text-align:center;">
      <tr>
        <th rowspan="3" style="width:20px; vertical-align: middle; text-align: center;">#</th>
        <th colspan="2" rowspan="2" style="width:60px; vertical-align: middle; text-align: center;">Face</th>
        <th colspan="3" style="width:40px; vertical-align: middle; text-align: center;">Position</th>
        <th colspan="2" rowspan="1" style="width:70px; vertical-align: middle; text-align: center;">Dimensions</th>
        <th rowspan="2" style="width:60px; vertical-align: middle; text-align: center;">A_A (P.A.)</th>
        <th colspan="4" rowspan="2" style="width:60px; vertical-align: middle; text-align: center;">Normal Dir. Vector /
          Azimuth
        </th>
        <th rowspan="3" style="width:80px; vertical-align: middle; text-align: center;">Notes</th>
        <th rowspan="3" style="width:82px; vertical-align: middle; text-align: center;">Actions</th>
      </tr>

      <tr>
        <th style="text-align: center;">x</th>
        <th style="text-align: center;">y</th>
        <th style="text-align: center;">z</th>
        <th style="text-align: center;">Width</th>
        <th style="text-align: center;">Height</th>
      </tr>

      <tr>
        <th style="text-align: center;">name</th>
        <th style="text-align: center;">shape</th>
        <!-- th style="text-align: center;">type</th -->
        <th style="text-align: center;">nf</th>
        <th style="text-align: center;">nf</th>
        <th style="text-align: center;">nf</th>

        <th style="text-align: center;">nf</th>
        <th style="text-align: center;">nf</th>
        <th style="text-align: center;">nf^2</th>
        <th style="text-align: center;">x</th>
        <th style="text-align: center;">y</th>
        <th style="text-align: center;">z</th>
        <th style="text-align: center;">nf</th>
      </tr>


      <tr *ngFor="let item of topService.windFaces; let i = index;">
        <td>{{ i + 1 }}</td>
        <td><input type="text" class="itemInfoInput form-control" ng-model="item.face_name"
                   ng-change="models.product.changed = true" ng-disabled="!models.product.allowEdit"></td>
        <td>
          <select class="form-control" ng-model="item.shape" ng-change="models.product.changed = true;"
                  ng-disabled="!models.product.allowEdit">
            <option value=""></option>
            <option value="rectangular">Rectangular</option>
            <option value="cylindrical">Cylindrical</option>
            <option value="sphere">Sphere</option>
          </select>
        </td>
        <!-- td></td -->

        <td><input type="text" class="itemInfoInput form-control" ng-model="item.px"
                   ng-change="models.product.changed = true" ng-disabled="!models.product.allowEdit"></td>
        <td><input type="text" class="itemInfoInput form-control" ng-model="item.py"
                   ng-change="models.product.changed = true" ng-disabled="!models.product.allowEdit"></td>
        <td><input type="text" class="itemInfoInput form-control" ng-model="item.pz"
                   ng-change="models.product.changed = true" ng-disabled="!models.product.allowEdit"></td>

        <td><input type="text" class="itemInfoInput form-control" ng-model="item.width"
                   ng-change="models.product.changed = true;" ng-disabled="!models.product.allowEdit"></td>
        <td><input type="text" class="itemInfoInput form-control" ng-model="item.height"
                   ng-change="models.product.changed = true;" ng-disabled="!models.product.allowEdit"></td>
        <td><input type="text" class="itemInfoInput form-control" ng-model="item.p_a_a"
                   ng-change="models.product.changed = true;" ng-disabled="!models.product.allowEdit"></td>

        <td><input type="text" class="itemInfoInput form-control" ng-model="item.ndx"
                   ng-change="models.product.changed = true" ng-disabled="!models.product.allowEdit"></td>
        <td><input type="text" class="itemInfoInput form-control" ng-model="item.ndy"
                   ng-change="models.product.changed = true" ng-disabled="!models.product.allowEdit"></td>
        <td><input type="text" class="itemInfoInput form-control" ng-model="item.ndz"
                   ng-change="models.product.changed = true" ng-disabled="!models.product.allowEdit"></td>
        <td><input type="text" class="itemInfoInput form-control" ng-model="item.azimuth"
                   ng-change="models.product.changed = true" ng-disabled="!models.product.allowEdit"></td>

        <td><input type="text" class="itemInfoInput form-control" ng-model="item.notes"
                   ng-change="models.product.changed = true" ng-disabled="!models.product.allowEdit"></td>
        <td class="text-center">
          <button type="button" class="btn btn-danger btn-sm btnDelete"
                  ng-click="models.product.deleteWA(item.id, $index)" ng-disabled="!models.product.allowEdit"><span
            class="glyphicon glyphicon-floppy-remove"></span></button>
        </td>
      </tr>

      <tr>
        <td>wind_areas.length</td>
        <td><input type="text" class="itemInfoInput form-control" ng-model="models.product.new_wa.face_name"
                   ng-disabled="!models.product.allowEdit"></td>
        <td>
          <select class="form-control" ng-model="models.product.new_wa.shape" ng-disabled="!models.product.allowEdit">
            <option value=""></option>
            <option value="rectangular">Rectangular</option>
            <option value="cylindrical">Cylindrical</option>
            <option value="square">Square</option>
          </select>
        </td>
        <!-- td></td -->

        <td><input type="text" class="itemInfoInput form-control" ng-model="models.product.new_wa.px"
                   ng-disabled="!models.product.allowEdit"></td>
        <td><input type="text" class="itemInfoInput form-control" ng-model="models.product.new_wa.py"
                   ng-disabled="!models.product.allowEdit"></td>
        <td><input type="text" class="itemInfoInput form-control" ng-model="models.product.new_wa.pz"
                   ng-disabled="!models.product.allowEdit"></td>

        <td><input type="text" class="itemInfoInput form-control" ng-model="models.product.new_wa.width"
                   ng-disabled="!models.product.allowEdit"></td>
        <td><input type="text" class="itemInfoInput form-control" ng-model="models.product.new_wa.height"
                   ng-disabled="!models.product.allowEdit"></td>
        <td><input type="text" class="itemInfoInput form-control" ng-model="models.product.new_wa.p_a_a"
                   ng-disabled="!models.product.allowEdit"></td>

        <td><input type="text" class="itemInfoInput form-control" ng-model="models.product.new_wa.ndx"
                   ng-disabled="!models.product.allowEdit"></td>
        <td><input type="text" class="itemInfoInput form-control" ng-model="models.product.new_wa.ndy"
                   ng-disabled="!models.product.allowEdit"></td>
        <td><input type="text" class="itemInfoInput form-control" ng-model="models.product.new_wa.ndz"
                   ng-disabled="!models.product.allowEdit"></td>
        <td><input type="text" class="itemInfoInput form-control" ng-model="models.product.new_wa.azimuth"
                   ng-disabled="!models.product.allowEdit"></td>
        <td><input type="text" class="itemInfoInput form-control" ng-model="models.product.new_wa.notes"
                   ng-disabled="!models.product.allowEdit"></td>
        <td class="text-center">
          <button type="button" class="btn btn-success btn-sm btnAdd" ng-click="models.product.addWA()"
                  ng-disabled="!models.product.allowEdit"><span class="glyphicon glyphicon-plus"></span></button>
        </td>
      </tr>
    </table>
  </div>

  <div class="col-md-12" style="margin-top: 20px;">

    <div class="col-md-7">
      <canvas class="chart chart-line" chart-data="models.product.chart_data" chart-series="models.product.chart_series"
              chart-labels="models.product.chart_labels"></canvas>
      <div
        style="position: absolute; bottom: 17px; left: 10px; width: 10px"
        ng-show="models.product.sliderShow">
        <!--<slider ng-model="models.product.slider_value" ng-change="models.product.epaSlider();"-->
                <!--min="models.product.slider_min" step="models.product.slider_step"-->
                <!--max="models.product.slider_max"></slider>-->
      </div>
    </div>

    <div class="col-md-5" style="right: 0px;">
      <div style="left: 95px; top: 205px; position: absolute; transform: translate(-50%,0%); text-align: center;">
        <div>
          <span>epa_slider_value in.^2</span>
        </div>
        <div>
          <span>EPA</span>
        </div>
      </div>

      <div style="height: 200px; width: 100px; position: relative; top: -50px; left: 30px;">
        <div class="wind_direction_container" style="transform: rotate(90deg);">
          <img style="width: 100%; height: 100%;" src="style/images/wind_arrow_2.png">
        </div>
        <div class="ring_container">
          <img style="width: 100%; height: 100%;" src="style/images/wind_ring_1.png">
        </div>
        <div class="arrow_container">
          <img style="width: 100%; height: 100%;" src="style/images/arrow.png">
        </div>
        <div class="epa_cuboid_container">
          <div class="epa_cuboid" ng-show="models.product.details.geometryShapeType == 'Cuboid'"
               style="height: 10px; width: 10px;"></div>
          <div class="epa_cuboid" ng-show="models.product.details.geometryShapeType != 'Cuboid'"
               style="height: 60px; width: 60px; border-radius: 60px"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- div class="col-md-4" style="margin-top: 20px;"></div -->

</div>
