<div class="data-management">
  <div class="DRMPanel" title="Manage Your Private Data" (click)="toggleDRMPanel();">
    <img src="../../../assets/images/dataManagement.png" alt="DRMPanel">
  </div>
  <div class="additionalFunctions">
    <div class="dataCopy" title="Copy Current Data Record to Your Private Data" (click)="copySelectedData();">
      <img src="../../../assets/images/copy.png">
    </div>
    <div class="dataLink" title="Create link for current data record" (click)="createLink();">
      <img src="../../../assets/images/link.svg">
    </div>
  </div>
</div>

<div id="containerForPanel" #containerForDRMPanel
     [hidden]="DRMPanelIsOpen === false">
  <div id="contentForPanel" #contentForDRMPanel>
    <div class="close" (click)="DRMPanelIsOpen = false">+</div>
    <div class="treePanel">
      <tree-root #tree *ngIf="DRMPanelIsOpen"
                 [nodes]="topService.treeNodes"
                 [options]="topService.treeViewOptions"
                 (focus)="topService.updateFilterForPanel($event);">
        <ng-template #treeNodeTemplate let-node let-index="index">
          <span [contextMenu]="basicMenu" [contextMenuSubject]="node.data">{{ node.data.name }}</span>
        </ng-template>
      </tree-root>

      <context-menu>
        <ng-template contextMenuItem (execute)="createFolder($event.item)"
                     [subMenu]="createFolderSubmenu">Create Folder
        </ng-template>
        <context-menu #createFolderSubmenu>
          <ng-template contextMenuItem passive="true">
            <input type="text" name="newFolderName" [(ngModel)]="newFolderName"><br>
            <input type="button" (click)="createFolder($event)" value="Create folder">
          </ng-template>
        </context-menu>
      </context-menu>

    </div>
    <div class="content">
      <div class="headerOfScrollingTable">
        <table class="table table-bordered table-striped table-hover">
          <thead>
          <tr>
            <th style="width: 10px;">#</th>
            <th style="width: 12.5%;">Type</th>
            <th style="width: 12.5%;">SubType</th>
            <th style="width: 12.5%;">Shape</th>
            <th style="width: 12.5%;">Manufacturer</th>
            <th style="width: 12.5%;">Model</th>
            <th style="width: 12.5%;">Notes</th>
            <th style="width: 21.3%;">Actions</th>
          </tr>
          </thead>
        </table>
      </div>
      <div class="bodyOfScrollingTable">
        <table class="table table-striped table-bordered table-hover">
          <tbody>
          <tr
            *ngFor="let product of (topService.listOfProducts | selectedProductTreeNode: topService.filterForPanel : topService.resetProductList); let i = index">
            <td [treeDrag]="product" [treeDragEnabled]="true" style="width: 10px;">{{ i + 1 }}</td>
            <td style="width: 8px;"><input type="text" (change)="product.change = true" class="form-control"
                                           [(ngModel)]="product.type"></td>
            <td style="width: 8px;"><input type="text" (change)="product.change = true" class="form-control"
                                           [(ngModel)]="product.subType"></td>
            <td style="width: 8px;"><input type="text" (change)="product.change = true" class="form-control"
                                           [(ngModel)]="product.shape"></td>
            <td style="width: 8px;"><input type="text" (change)="product.change = true" class="form-control"
                                           [(ngModel)]="product.manufacture"></td>
            <td style="width: 8px;"><input type="text" (change)="product.change = true" class="form-control"
                                           [(ngModel)]="product.model"></td>
            <td style="width: 8px;"><input type="text" (change)="product.change = true" class="form-control"
                                           [(ngModel)]="product.notes"></td>
            <td style="width: 19.5%;">
              <div style="text-align: center;" *ngIf="product.mode === 'object'">

                <button class="btn btn-sm" style="line-height: 16px;"
                        [ngClass]="{'btn-success': product.change}" (click)="updateProduct(product);"
                        [disabled]="!product.change">
                  <span class="glyphicon glyphicon-floppy-disk"></span>
                </button>
                <button class="btn btn-sm btn-danger" style="line-height: 16px;" (click)="deleteProduct(product.id);">
                  <span class="glyphicon glyphicon-floppy-remove"></span>
                </button>
                <button class="btn btn-sm" style="line-height: 16px;" (click)="openTransferPopup(product, 'product');">
                  <span class="glyphicon glyphicon-transfer"></span>
                </button>
              </div>

              <div style="width: 75px; text-align: center;" *ngIf="product.mode === 'link'">
                <button class="btn btn-sm btn-danger" style="line-height: 16px;" ng-click="deleteLink(product.id);">
                  <span class="glyphicon glyphicon-floppy-remove"></span>
                </button>
              </div>
            </td>
          </tr>
          <tr>
            <td></td>
            <td><input type="text" name="type" [(ngModel)]="newProduct.type" class="form-control" required></td>
            <td><input type="text" name="subType" [(ngModel)]="newProduct.subType" class="form-control" required></td>
            <td><input type="text" name="shape" [(ngModel)]="newProduct.shape" class="form-control" required></td>
            <td><input type="text" name="manufacture" [(ngModel)]="newProduct.manufacture" class="form-control"
                       required></td>
            <td><input type="text" name="model" [(ngModel)]="newProduct.model" class="form-control" required></td>
            <td><input type="text" name="notes" [(ngModel)]="newProduct.notes" class="form-control" required></td>
            <td class="cellAdd">
              <button class="btn btn-sm btn-success" style="line-height: 16px;"
                      (click)="createProduct(newProduct);">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
