@import url('https://fonts.googleapis.com/css?family=Raleway');

.data-management {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .DRMPanel img {
    width: 40px;
  }
  .additionalFunctions {
    display: flex;

    .dataCopy img, .dataLink img {
      width: 20px;
      margin: 5px;
    }
  }
}

#containerForPanel {
  width: 1000px;
  height: 10px;
}

#contentForPanel {
  font-size: 14px;
  font-family: 'Raleway', serif;

  .close {
    position: absolute;
    font-family: initial;
    right: 2px;
    top: -42px;
    opacity: 1;
    font-weight: normal;
    font-size: 50px !important;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .treePanel {
    background-color: #dddddd;
    float: left;
    width: 20%;
    padding: 10px;
  }

  .content {
    float: left;
    width: 80%
  }

  .headerOfScrollingTable table, .bodyOfScrollingTable table {
    margin-bottom: 0;
  }

  .bodyOfScrollingTable {
    overflow-y: scroll;

    .cellAdd {
      display: flex;
      border: none;
      justify-content: center;
    }
  }

}
