<div class="category-include" style="height: 70px;">
    <div class="public-access-container">
        <div class="publicUsers" *ngIf="showPublicAccessPanel">
            <div class="publicUser" *ngFor="let user of topService.publicUsers">
                <input type="checkbox" [(ngModel)]="user.check" (change)="onChangeAccessType();">
                <div class="userName">{{user.first_name + ' ' +user.last_name}}</div>
            </div>
        </div>
    </div>
    <div class="accessModes">
        <div class="access-button">
            <span class="glyphicon glyphicon-cog" (click)="showPublicAccessPanel = !showPublicAccessPanel;"></span>
        </div>
        <div class="publicData">
            <input type="checkbox" name="publicData" [(ngModel)]="topService.publicData" (change)="onChangeAccessType();"/>
            <img src="../../../assets/images/shared.jpg" alt="Public Data">
        </div>
        <div class="privateData">
            <input type="checkbox" name="privateData" [(ngModel)]="topService.privateData" (change)="onChangeAccessType();">
            <img src="../../../assets/images/private.jpg" alt="Private Data">
        </div>
    </div>
    <div class="input-group" style="width: 100%; top: 15px;" *ngIf="topService.currentTabMode === 'product'">
        <span class="input-group-addon glyphicon glyphicon-search" style="font-size: 11px; top: 0;"
              id="basic-addon1"></span>
        <input type="text" class="form-control" ng-model="selectedProduct"
               bs-options="state.value for state in models.product.searchList"
               bs-on-select="models.product.searchInputChange" data-min-length="2" placeholder="Search..." bs-typeahead>
    </div>
    <div class="input-group" style="width: 100%; top: 15px;" *ngIf="topService.currentTabMode == 'geometry'">
        <span class="input-group-addon glyphicon glyphicon-search" style="font-size: 11px; top: 0;"
              id="basic-addon2"></span>
        <input type="text" class="form-control" ng-model="selectedGeometry"
               bs-options="state.value for state in models.geometry.searchList"
               bs-on-select="models.geometry.searchInputChange" data-min-length="2" placeholder="Search..."
               bs-typeahead>
    </div>
</div>