.accessModes {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  margin-bottom: -10px;

  .access-button {
    border: 1px solid;
    width: 35px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      margin-top: -5px;
    }
  }
  .publicData img {
    width: 25px;
    margin-bottom: 10px;
  }
  .privateData img {
    width: 18px;
    margin-bottom: 10px;
  }
}

.publicUsers {
  position: absolute;
  padding: 8px;
  top: 40px;
  width: 180px;
  z-index: 5;
  height: 80px;
  background-color: #fff;
  box-shadow: 0 1px 3px #e3e3e3;

  .publicUser {
    display: flex;
    height: 30px;

    .userName {
      margin-left: 10px;
    }
  }
}
