<div class="geometryAssociationWrapper" *ngIf="topService.selectedProductAssociation">
    <div style="padding-left: 0;" class="col-md-3">
        <span>Select Type:</span>
        <select class="form-control" style="width: 130px; margin-top: 5px;"
                [(ngModel)]="topService.selectedProductAssociation.geometryType"
                (change)="changeProductAssociation();">
            <option value="structure">Structure</option>
            <option value="single_object">Single Object</option>
            <option value="3d_files">3D file(s)</option>
        </select>
    </div>
    <div class="col-md-4" *ngIf="topService.selectedProductAssociation.geometryType === 'single_object'">
        <span>Geometry Shape/Type:</span>
        <select class="form-control" style="width: 150px; margin-top: 5px;"
                [(ngModel)]="topService.selectedProductAssociation.geometryShape"
                (change)="changeProductAssociation();">
            <option value="FlatPanel">Flat Panel</option>
            <option value="ConicalDishShroud">Conical Dish w/ Shroud</option>
            <option value="CylinderDishShroud">Cylinder Dish w/ Shroud</option>
            <option value="DishRadom">Dish w/ Radom</option>
            <option value="DishwoRadom">Dish w/ Radom</option>
            <option value="ParabolicGridDish">Parabolic Grid Dish</option>
            <option value="Cuboid">Cuboid</option>
            <option value="Cylinder">Cylinder</option>
            <option value="Sphere">Sphere</option>
        </select>
    </div>

    <div class="col-md-3" *ngIf="topService.selectedProductAssociation.geometryType === 'single_object'">
        <span>Look:</span>
        <select style="width: 120px;" class="form-control"
                [(ngModel)]="topService.selectedProductAssociation.textureType" (change)="changeProductAssociation();">
            <option value="color" selected>Color</option>
            <option value="texture">Texture</option>
        </select>
        <input [(colorPicker)]="topService.selectedProductAssociation.color"
               [style.background]="topService.selectedProductAssociation.color"
               [value]="topService.selectedProductAssociation.color"
               *ngIf="topService.selectedProductAssociation.textureType === 'color'" class="form-control"
               (colorPickerChange)="changeProductAssociation();"/>
        <input *ngIf="topService.selectedProductAssociation.textureType === 'texture'" type="file"
               file-model="soTexture" class="form-control"
               style="width: 250px; height:28px; position: absolute; bottom: -35px;"/>
        <div *ngIf="topService.selectedProductAssociation.textureType === 'texture'"
             style="position: absolute; bottom: -60px;"></div>
    </div>

    <div class="col-md-2" *ngIf="topService.selectedProductAssociation.geometryType === 'single_object'">
        <div>Has Azimuth?</div>
        <input type="checkbox"
               (change)="topService.selectedProductAssociation.change = true"
               [(ngModel)]="topService.selectedProductAssociation.needCalculateAzimuth">
        <span *ngIf="topService.selectedProductAssociation.needCalculateAzimuth">Yes</span>
    </div>

    <div class="row dimentionTable" *ngIf="topService.selectedProductAssociation.geometryShape">
        <div class="col-md-11"><h5>General Dimensions & Weight</h5></div>
        <div class="col-md-8">
            <table class="table table-bordered table-hover" style="width: 500px;">
                <tr>
                    <th style="width: 60px">D1</th>
                    <th style="width: 60px">D2</th>
                    <th style="width: 60px">D3</th>
                    <th style="width: 60px">D4</th>
                    <th style="width: 60px">D5</th>
                    <th colspan="2" style="width: 300px">Weight _ mounting kit</th>

                </tr>

                <tr>
                    <td>{{singleObjectsConfig[topService.selectedProductAssociation.geometryShape].d1.exp}}</td>
                    <td>{{singleObjectsConfig[topService.selectedProductAssociation.geometryShape].d2.exp}}</td>
                    <td>{{singleObjectsConfig[topService.selectedProductAssociation.geometryShape].d3.exp}}</td>
                    <td>{{singleObjectsConfig[topService.selectedProductAssociation.geometryShape].d4.exp}}</td>
                    <td>{{singleObjectsConfig[topService.selectedProductAssociation.geometryShape].d5.exp}}</td>
                    <td>{{singleObjectsConfig[topService.selectedProductAssociation.geometryShape].w.exp}}</td>
                    <td>{{singleObjectsConfig[topService.selectedProductAssociation.geometryShape].wo.exp}}</td>
                </tr>

                <tr>
                    <!--<td>{{ units.find('db_product',singleObjectsConfig[models.product.details.geometryShapeType].d1.units) || 'nf' }}</td>-->
                    <!--<td>{{ units.find('db_product',singleObjectsConfig[models.product.details.geometryShapeType].d2.units) || 'nf' }}</td>-->
                    <!--<td>{{ units.find('db_product',singleObjectsConfig[models.product.details.geometryShapeType].d3.units) || 'nf' }}</td>-->
                    <!--<td>{{ units.find('db_product',singleObjectsConfig[models.product.details.geometryShapeType].d4.units) || 'nf' }}</td>-->
                    <!--<td>{{ units.find('db_product',singleObjectsConfig[models.product.details.geometryShapeType].d5.units) || 'nf' }}</td>-->
                    <!--<td>{{ units.find('db_product',singleObjectsConfig[models.product.details.geometryShapeType].w.units) || 'nf' }}</td>-->
                    <!--<td>{{ units.find('db_product',singleObjectsConfig[models.product.details.geometryShapeType].wo.units) || 'nf' }}</td>-->
                </tr>

                <tr>
                    <td><input type="text" class="itemInfoInput form-control" [(ngModel)]="topService.selectedProductAssociation.d1"
                               (change)="topService.selectedProductAssociation.change = true"></td>

                    <td style="position: relative;">
                        <input type="text" class="itemInfoInput input-mockup form-control" [disabled]="true"
                               *ngIf="!singleObjectsConfig[topService.selectedProductAssociation.geometryShape].d2.show">
                        <input type="text" class="itemInfoInput form-control" [(ngModel)]="topService.selectedProductAssociation.d2"
                               (change)="topService.selectedProductAssociation.change = true"
                               *ngIf="singleObjectsConfig[topService.selectedProductAssociation.geometryShape].d2.show">
                    </td>

                    <td style="position: relative;">
                        <input type="text" class="itemInfoInput input-mockup form-control" [disabled]="true"
                               *ngIf="!singleObjectsConfig[topService.selectedProductAssociation.geometryShape].d3.show">
                        <input type="text" class="itemInfoInput form-control" [(ngModel)]="topService.selectedProductAssociation.d3"
                               (change)="topService.selectedProductAssociation.change = true"
                               *ngIf="singleObjectsConfig[topService.selectedProductAssociation.geometryShape].d3.show"
                               ng-disabled="!models.product.allowEdit">
                    </td>

                    <td style="position: relative;">
                        <input type="text" class="itemInfoInput input-mockup form-control" [disabled]="true"
                               *ngIf="!singleObjectsConfig[topService.selectedProductAssociation.geometryShape].d4.show">
                        <input type="text" class="itemInfoInput form-control" [(ngModel)]="topService.selectedProductAssociation.d4"
                               (change)="topService.selectedProductAssociation.change = true"
                               *ngIf="singleObjectsConfig[topService.selectedProductAssociation.geometryShape].d4.show"
                               ng-disabled="!models.product.allowEdit">
                    </td>

                    <td style="position: relative;">
                        <input type="text" class="itemInfoInput input-mockup form-control" [disabled]="true"
                               *ngIf="!singleObjectsConfig[topService.selectedProductAssociation.geometryShape].d5.show">
                        <input type="text" class="itemInfoInput form-control" [(ngModel)]="topService.selectedProductAssociation.d5"
                               (change)="topService.selectedProductAssociation.change = true"
                               *ngIf="singleObjectsConfig[topService.selectedProductAssociation.geometryShape].d5.show"
                               ng-disabled="!models.product.allowEdit">
                    </td>

                    <td><input type="text" class="itemInfoInput form-control"
                               [(ngModel)]="topService.selectedProductAssociation.weightWithoutMountingKit"
                               (change)="topService.selectedProductAssociation.change = true"></td>
                    <td><input type="text" class="itemInfoInput form-control"
                               [(ngModel)]="topService.selectedProductAssociation.weightWithMountingKit" (change)="topService.selectedProductAssociation.change = true"
                               ng-disabled="!models.product.allowEdit"></td>

                </tr>

            </table>
        </div>

        <div class="col-md-4 geometryShapeViewer" *ngIf="topService.selectedProductAssociation.geometryShape">
            <img src="assets/images/geometryShapes/{{ topService.selectedProductAssociation.geometryShape }}.png">
        </div>
    </div>
</div>
