.geometryAssociationWrapper {
  padding: 5px;

  .dimentionTable {
    margin-top: 100px;
    margin-right: 0;
    margin-left: 0;
    .geometryShapeViewer {
      img {
        width: 280px;
      }
    }
  }
}