<div id="topComponent" class="container-fluid">
    <app-data-management class="col-xs-1" style="padding-right: 0; width: 5%;"></app-data-management>
    <app-ddl-selector class="col-xs-7"></app-ddl-selector>
    <app-access-type class="col-xs-2"></app-access-type>
    <app-userdata></app-userdata>
</div>
