/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  font-family: 'Raleway', serif;

  .jsPanel-content {
    overflow: initial !important;
  }

  .jsPanel-title {
    font-size: 16px !important;
  }
}